:root {
  --font-family: 'Poppins', 'Lato', sans-serif;

  /* Extra Small Text */
  --font-size-xxxs: 0.5rem;
  --font-size-xxxs-fluid: clamp(0.5rem, 0.75vw, 0.625rem);

  --font-size-xxs: 0.625rem;
  --font-size-xxs-fluid: clamp(0.625rem, 1vw, 0.75rem);

  --font-size-xs: 0.75rem;
  --font-size-xs-fluid: clamp(0.75rem, 1.2vw, 0.875rem);

  /* Standard Text */
  --font-size-sm: 0.875rem;
  --font-size-sm-fluid: clamp(0.875rem, 1.5vw, 1rem);

  --font-size-md: 1rem;
  --font-size-md-fluid: clamp(1rem, 1.8vw, 1.125rem);

  --font-size-lg: 1.125rem;
  --font-size-lg-fluid: clamp(1.125rem, 2vw, 1.25rem);

  --font-size-xl: 1.25rem;
  --font-size-xl-fluid: clamp(1.25rem, 2.2vw, 1.5rem);

  /* Large Text */
  --font-size-2xl: 1.5rem;
  --font-size-2xl-fluid: clamp(1.5rem, 3vw, 2rem);

  --font-size-3xl: 2rem;
  --font-size-3xl-fluid: clamp(2rem, 3.5vw, 2.5rem);

  --font-size-4xl: 2.5rem;
  --font-size-4xl-fluid: clamp(2.5rem, 4vw, 3rem);

  --font-size-5xl: 3rem;
  --font-size-5xl-fluid: clamp(3rem, 5vw, 3.75rem);
}

/* ============================= */
/*           Root Styles         */
/* ============================= */
:root {
  --primary-bg: #F5E5D3;
  --secondary-bg: #EFD9C5;
  --tertiary-index: #EAD5C0;
  --social-hover: rgba(212, 138, 60, 0.7);
  --blackwhite: rgb(0, 0, 0, 0.2);
  --input: #FAF1E8 ;
  --primary-btn: #D48A3C;
  --nav-a: #D48A3C;
  --searchbar: #6B4F4F;
  --primary-btn-hover: #E6A86B;
  --btn-border: #6B4F4F;
  --the-line: #F0D0B1;
  --primary-text: #222222;
  --secondary-text: #999999;
  --border: #ccc;
  --star:#B8860B;
}

/* ============================= */
/*      Dark Mode Overrides      */
/* ============================= */
body.dark-mode {
--primary-bg: #1a1a1a;
--secondary-bg: #2A2A2A;
--tertiary-index: #262626;
--input: #1F1B24;
--the-line: #444444;
--primary-text: #e0e0e0;
--secondary-text: #b0b0b0;
--primary-btn: #3700B3;
--primary-btn-hover: #6200ee;
--nav-a:#03DAC6;
--btn-border: #03DAC6;
--searchbar: #3700B3;
--border: #666666;
--social-hover:  rgba(98, 0, 238, 0.7);
--blackwhite: rgb(255, 255, 255, 0.2);
--star: #FFD700;
}

body.dark-mode input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
}

body.dark-mode input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(1);
}

/* ============================= */
/*         Global Settings       */
/* ============================= */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-bg);
  font-size: var(--font-size-md-fluid);
  color: var(--primary-text);
  letter-spacing: 1px;
  margin: 0;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;

}

main {
  flex: 1;
}


a {
  text-decoration: none;
  color: inherit;
}

.title-motto a:hover {
  text-decoration: none;
}

/* ============================= */
/*         Utility Classes       */
/* ============================= */  
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ============================= */
/*         Header Styles         */
/* ============================= */

/* -------- Relative Header (position: relative) -------- */
/* header {
  background-color: var(--secondary-bg);
  padding: 20px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom:  3px solid var(--the-line);
  position: relative;
} */

/* -------- Sticky Header (position: sticky) -------- */
header {
  background-color: var(--secondary-bg);
  padding: 20px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px var(--social-hover);
  border-bottom:  3px solid var(--the-line);
  position: sticky;
  top: 0;
  z-index: 1000;
}

#Logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

#Logo {
  display: flex;
  align-items: center;
}

#Logo img {
  height: 80px;
  width: auto;
  max-width: 100%;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

#Logo img:hover {
  transform: scale(1.2);
}

.title-motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.title-motto h1 {
  font-size: var(--font-size-lg-fluid);
  color: var(--primary-text);
  margin: 0;
  font-weight: bold;
}

.title-motto p {
  font-size: var(--font-size-md-fluid);
  color: var(--secondary-text);
  margin: 5px 0 0;
}

#main-nav {
  flex: 2;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 20px;
}

nav ul li a {
  font-size: var(--font-size-md-fluid);
  position: relative;
  font-weight: 500;
  padding: 5px 10px;
  padding-bottom: 6px;
  border-radius: 4px;
  color: var(--primary-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--the-line);
  color: var(--nav-a);
}

#current-page a {
  color: var(--nav-a);
  font-weight: bolder;
  font-style: italic;
}


nav ul li:active {
  transform: scale(0.9);
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-text);
  transform: translateX(-50%);
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

#hamburger-menu {
  display: none;
  position: absolute;
  right: 1px;
  margin-left: 5px;
}

#mode-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text);
  font-size: 1.5rem;
  padding: 5px;
}
/* ============================= */
/*         Button Styles         */
/* ============================= */

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-text);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px var(--blackwhite);
}

#backToTopBtn svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-bg);
}

#backToTopBtn.show {
  opacity: 1;
}

#backToTopBtn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#backToTopBtn:active {
  transform: scale(0.8);
}

.button {
  background-color: var(--primary-btn);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  border: 1.5px solid var(--btn-border);
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 19px;
  color: var(--primary-text);
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  box-shadow: 0 3px 6px var(--btn-border);
  font-weight: bold;
}

.button:hover {
  background-color: var(--primary-btn-hover);
  border: 1.5px solid var(--btn-border);
  font-size: var(--font-size-lg);
  transform: scale(1.05);
  text-decoration: none;
  box-shadow: 0 5px 10px var(--primary-btn-hover);
}

.button:active {
  background-color: var(--primary-btn-hover);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.button.no-hover:hover {
  background-color: var(--primary-btn);
  font-size: inherit;
  transform: none;
  text-decoration: inherit;
  box-shadow: inherit;
}

#submit-btn, #email-us-btn {
  width: 70%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#show-all {
  border-radius: 5px;
  border: none;
  font-size: var(--font-size-md);
}

#show-all:hover{
  background-color: var(--primary-btn-hover);
}

/* ============================= */
/*         Footer Styles         */
/* ============================= */

footer {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  width: 100%;
  box-shadow: 0 -2px 5px var(--blackwhite);
  border-top: 3px solid var(--the-line);
  position: relative;
}


.footer-left {
  text-align: center;
  flex: 1;
}

.footer-left h3,
.footer-left p {
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin: 6px;
  font-size: var(--font-size-2xl-fluid);
  color: inherit;
  border-radius: 50%;
  line-height: 1;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.05);
  color: var(--primary-btn-hover);
  box-shadow: 0 0 10px 4px var(--social-hover)
}


.footer-middle {
  text-align: center;
  flex: 1;
}

.footer-middle p {
  margin: 5px 0;
  line-height: 1.6;
}

.footer-middle .address {
  white-space: pre-line;
}

.footer-right {
  text-align: center;
  flex: 1;
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-input {
  background-color: var(--input);
  padding: 10px;
  margin-left: 20px;
  border: 2px solid var(--social-hover);
  border-radius: 5px;
  width: 100%;
  max-width: 380px;
  min-width: 250px;
  box-sizing: border-box;
  text-align: left;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#email-input:focus {
  outline: none;
  border-color: var(--btn-border)
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--border);
}


.footer-bottom .hyper-links a {
  font-weight: bold;
  margin: 0px 10px
}

.footer-middle a {
  text-decoration: underline;
}

.form-message {
  margin-top: 5px;
  display: none;
}

.title-motto-footer a:hover{
  text-decoration: none;
}

.hyper-links a:hover {
  text-decoration: underline;
}

/* ============================= */
/*      Contact Us Page Styles   */
/*      Book class Page Styles   */
/* ============================= */
.main-class {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.dropdown {
  color: var(--secondary-text);
  border: 1px solid var(--border);
}

form {
  display: flex;
  flex-direction: column;
}

#contact-h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  margin-top: 20px;
}

#contact-p, .mailto-container p{
  text-align: center;
}

label {
  margin-top: 15px;
  font-weight: bold;
}

input[type="date"] {
  color: var(--secondary-text);
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select, textarea {
  padding: 8px;
  margin-top: 5px;
  border: 2px solid var(--border);
  border-radius: 5px;
  font-size: var(--font-size-md);
  width: 100%;
  box-sizing: border-box;
}

input:focus, select:focus{
  outline: none;
  border-color: var(--btn-border);
}

textarea.messagebox:focus {
  outline: none;
  border-color: var(--btn-border);
}

input, select, textarea{
  background-color: var(--input);
  color: var(--primary-text);
  border: 1px solid var(--border);
  border-radius: 6px;
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: var(--secondary-text);
  opacity: 0.7;
}

textarea.messagebox {
  resize: vertical;
  min-height: 150px;
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
  border: 2px solid var(--border);
  border-radius: 5px;
  font-size: var(--font-size-sm);
}

/* Figure out the empty space here
             Mental note        */

#why-chef, #notes {
  min-height: 60px;
}

fieldset {
  border: none;
  margin-top: 15px;
  padding: 0;
}

fieldset legend {
  font-weight: bold;
  margin-bottom: 5px;
}

fieldset input[type="radio"] {
  margin-right: 5px;
}

.mailto-container {
  border: 2px solid var(--border);
  margin: 30px;
  padding-bottom: 5%;
}

.mailto-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  cursor: pointer;
}

.required::after {
    content: " *";
    color: red;
}

.small-text {
  font-size: var(--font-size-xxs-fluid);
  color: var(--secondary-text);
}

/* ============================= */
/*      Book a Class Styles      */
/* ============================= */
.slots {
    display: none;
    margin-top: 10px;
}
.hidden {
  display: none;
}

.slot {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-btn);
    color: var(--primary-text);
}
.slot.unavailable {
   background-color: var(--secondary-bg);
   cursor: not-allowed;
}
.slot.selected {
  background-color: var(--primary-btn-hover);
  border: 2px solid var(--btn-border)
}

.social-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ============================= */
/*    Privacy Policy Styles      */
/* ============================= */

.privacy-policy-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.center-align {
  text-align: center;
}

.privacy-policy-heading {
  font-size: var(--font-size-3xl);
  margin-bottom: 20px;
}

.privacy-accordion-title {
  font-size: var(--font-size-md);
  color: var(--primary-text);
}

.privacy-policy-date {
  font-style: italic;
  margin-bottom: 10px;
}

.privacy-policy-intro {
  margin-bottom: 30px;
}


.privacy-accordion-item {
  margin-bottom: 20px;
  text-align: center;
}

.privacy-accordion-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: bold;
}

.privacy-accordion-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-btn-hover);
  margin-left: 5px;
}

.privacy-accordion-content {
  display: none;
  padding: 10px;
  background-color: var(--secondary-bg);
  margin-top: 10px;
}

.privacy-subheading {
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 10px;
}

.privacy-list {
  list-style-type: none;
  padding-left: 0;
}

.privacy-list li {
  margin-bottom: 10px;
}

.privacy-list-highlight {
  font-weight: bold;
  text-decoration: underline;
}

/* ============================= */
/*         Index Styles          */
/* ============================= */
.top-index {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--tertiary-index);
  border-bottom:  3px solid var(--the-line);
}

.top-index h2{
  font-size: var(--font-size-4xl-fluid);
}

.top-index p{
  margin-bottom: 30px;
  text-align: center;
  font-size: var(--font-size-lg-fluid);
}

.signature-index {
  border-top: 3px solid var(--the-line);
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom:  3px solid var(--the-line);
  background-color: var(--tertiary-index);
}


.slider-container {
  border: 2px solid var(--btn-border);
  width: 100%;
  max-width: 1080px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  
}
.slider-container h3 {
  text-decoration: underline;
  display: flex;
  font-size: var(--font-size-3xl-fluid);
  justify-content: center;
}

.slide {
  min-height: 300px;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 40%;
  margin-right: 10px;
  border-radius: 10px;
}

.slide img:hover {
  box-shadow: 2px 2px 10px var(--social-hover)
}


.slide-h3 {
  font-size: var(--font-size-3xl);
  display: block;
  align-items: center;
}

.slide-p {
  max-width: 80%;
  word-wrap: break-word;
  text-align: center;
}

.slide-text {
  max-width: 60%;
  display: block;
  font-size: var(--font-size-lg-fluid);
}

.slide-text h3 {
  margin-bottom: 20px;
}

.slide-h3, .slide-text {
  text-align: center;
  margin: 30px auto;
}

.slide.active {
  display: flex;
  padding: 30px;
}
.slide.active button {
  margin-top: 40px;
}

.prev, .next {
  color: var(--primary-btn-hover);
  background-color: transparent;
  width: 50px;
  border: none;
  height: 50px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: var(--font-size-5xl-fluid);
  border: none;
  outline: none;
}

.prev:hover, .next:hover {
  color: var(--primary-btn);
  transform: scale(1.2);
  transition: transform 0.3s ease;
  border: none;
  outline: none;
}

.prev:active, .next:active {
  transform: scale(0.8);
  border: none;
  outline: none;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: var(--secondary-index);
  
}

.specialty-h3 {
  font-size: var(--font-size-2xl-fluid);
  margin-top: 20px;
  display: block;
  text-align: center;
}

.history.left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.history.left img {
  box-shadow: 0 4px 8px var(--social-hover);
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.history.right {
  flex: 3;
  font-family: var(--font-family);
  font-size: var(--font-size-md-fluid);
  line-height: 1.8;
  color: var(--primary-text);
  padding: 1rem;
  background: var(--secondary-bg);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--social-hover);
}

.history.right p {
  margin: 0;
  text-align: justify;
}

/* ============================= */
/*        Cookie Styles          */
/* ============================= */

#cookieConsent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 15px;
  text-align: center;
  z-index: 1000;
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  border-top:  3px solid var(--btn-border);
}
#cookieConsent a {
  color: var(--nav-a);
  text-decoration: underline;
}

/* ============================= */
/*        404 Page Styles        */
/* ============================= */
.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 100%;
  gap: 50px;
  margin: auto;
  height: 70vh;
}

.page-404 img {
  max-width: 45%;
  height: auto;
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-404 h1 {
  font-size: var(--font-size-3xl-fluid);
  color: var(--primary-text);
  margin-bottom: 20px;
}

.page-404 p {
  font-size: var(--font-size-md-fluid);
  color: var(--primary-text);
  margin-bottom: 15px;
}

/* ============================= */
/*        Recipes Styles         */
/* ============================= */
.searchbar-container {
  text-align: center;
  margin: 40px 0px;
}

#mySearch {
  width: 100%;
  height: 60px;
  max-width: 50%;
  padding: 10px;
  font-size: var(--font-size-lg);
  border: 2px solid var(--nav-a);
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

#mySearch:focus {
  outline: none;
  border-color: var(--searchbar);
}

/* -------- Filters Styles -------- */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.tags-container label {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-btn);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: var(--font-size-md);
}

.tags-container label:hover {
  background-color: var(--primary-btn-hover);
}

.tags-container input[type="checkbox"] {
  cursor: pointer;
}

/*
Old recipe Grid style wasnt really suitable for this job because wasnt responsive enough
.recipes-container {
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 10px;
} */


.recipes-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

.recipe {
  background-color: var(--secondary-bg);
  width: 250px;
  min-height: 380px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--blackwhite);
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
}

.recipe:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--social-hover);
}

.recipe-img {
  width: 100%;
  height: auto; 
  max-height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px var(--btn-border);
  display: block;
  object-fit: contain;
}

.recipe-rating {
  color: var(--star);
  font-size: var(--font-size-lg-fluid);
  margin-top: 10px;
  gap: 5px;
}

.rating-count {
  font-size: var(--font-size-xxxs-fluid);
  color: var(--secondary-text);
  margin-top: 2px;
}

.food-title {
  font-size: var(--font-size-2xl-fluid);
  font-weight: bold;
  margin: 10px 0;
}

/* Recipe Description */
.recipe p {
  font-size: var(--font-size-md-fluid);
  color: var(--primary-text);
}

.recipe {
  margin-bottom: 20px;
}

/* ============================= */
/*       Single Recipes Styles   */
/* ============================= */
/* Recipe Container */
.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* Main Header */
.main-header {
  text-align: center;
  font-size: var(--font-size-2xl-fluid);
  font-weight: bold;
  margin-bottom: 10px;
}

/* Recipe Thumbnail Section */
.recipe-thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background: var(--secondary-index);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--btn-border);
}

.food-img {
  flex: 1;
  max-width: 50%;
}

.food-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.food-info {
  flex: 1;
  text-align: left;
  font-size: var(--font-size-lg-fluid);
  line-height: 1.6;
  color: var(--primary-text);
  background: var(--tertiary-index);
  padding: 20px;
  border-radius: 10px;
}

.recipe-title {
  font-size: var(--font-size-3xl-fluid);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.details div {
  padding: 10px;
  background: var(--tertiary-index);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--font-size-sm-fluid);
  font-weight: 600;
  gap: 10px;
  margin-top: 10px;
}

.food-tag {
  background: var(--primary-btn);
  color: var(--primary-text);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.recipe-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.instructions-section {
  background: var(--tertiary-index);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--secondary-bg);
}

.instructions-section h3 {
  margin-bottom: 20px;
}

.cooking-step {
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  background: var(--secondary-bg);
  border-left: 4px solid var(--btn-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cooking-step::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primary-btn-hover);
  left: 0;
  bottom: -10px;
}

.cooking-step h4 {
  margin: 0;
  font-size: var(--font-size-lg-fluid);
  color: var(--primary-text);
}

blockquote {
  font-style: italic;
  color: var(--primary-text);
  padding-left: 10px;
  margin: 10px 0;
}

.ingredients-tools {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ingredient-list h3, .tools-list h3, .reviews-container h3 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: var(--font-size-xl-fluid);
  color: var(--primary-text);
  font-weight: 600;
}

.ingredient, .tool {
  font-size: var(--font-size-md-fluid);
  line-height: 1.6;
  color: var(--primary-text);
}

.ingredient-list, .tools-list {
  background: var(--secondary-bg);  
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ingredient-list:hover, .tools-list:hover, .instructions-section:hover, .food-img:hover, .food-info:hover, .reviews-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--social-hover);
}

.ingredient-list, .tools-list, .instructions-section, .food-img, .food-info {
  border-left: 5px solid var(--btn-border);
}

.ingredient-list, .tools-list {
  padding: 25px;
}

.ingredient, .tool {
  margin-bottom: 10px;
}

.cooking-step li {
  margin-left: 20px;
  padding: 5px;
}

/* ============================= */
/*        Review Styles          */
/* ============================= */
.reviews-container {
  background: var(--secondary-bg);
  border: 2px solid var(--btn-border);
  padding: 20px;
  border-radius: 10px;
  max-height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--searchbar) var(--nav-a);
}

.review {
  padding: 10px;
  border-left: 4px solid var(--btn-border);
  margin-bottom: 15px;
  font-size: var(--font-size-md-fluid);
}

.stars {
  color: var(--star);
  font-size: var(--font-size-lg-fluid);
  margin-bottom: 5px;
}

.stars i {
  margin-right: 3px;
}

.review p {
  margin: 5px 0;
  font-style: italic;
  color: var(--primary-text);
}

.reviewer {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

.review-form {
  background: var(--secondary-bg);
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-form h4 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text);
}

.review-form input, .review-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--btn-border);
  border-radius: 5px;
  font-size: var(--font-size-md-fluid);
}

.review-form textarea {
  min-height: 80px;
  resize: none;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.star {
  font-size: var(--font-size-lg-fluid);
  color: var(--star);
  transition: transform 0.2s ease-in-out;
}

.star:hover, .star.active {
  transform: scale(1.5);
}

